.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 150px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin: 36px auto 0;
    padding: 15px 0;
    width: 282px;
  }
}
